button {
  min-height: 30px;
  min-width: 60px;
  height: 30px;
  margin-top: 0;
  padding-top: 4px;
  padding-bottom: 4px;

  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 22px;
  text-align: center;

  background: linear-gradient(to bottom,#61BD4F 0,#5AAC44 100%);
  box-shadow: $box-shadow;
  color: #fff;

  &:hover {
    background: linear-gradient(to bottom,#5AAC44 0,#519839 100%);
  }
}