.card-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50px;
  min-height: 50px;

  padding: 6px 6px 2px 8px;
  margin-bottom: 10px;
  color: $title-color;
  background-color: $card-background;
  box-shadow: $card-box-shadow;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}