input {
  background: rgba(0,0,0,.05);
  border-color: $input-border-color;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.15);
  display: block;
  margin: 0;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  border-style: none;
  border-radius: $border-radius;
}