.app-container {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100vh;

  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    min-height: 100px;
    max-height: 95vh;
  }

}