$main-background-color: #519839;

$box-shadow: 0 1px 0 #3F6F21;
$border-radius: 3px;

$input-border-color: #aaa;

$title-color: #4d4d4d;
$card-background: #fff;
$card-border: #ccc;
$card-box-shadow:0 1px 0 $input-border-color;